<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <title>Controle de Leishmaniose</title>
  <link rel="stylesheet" href="/atualizar_cadastro.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body style="background: #34495e;">
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/app/dashboard">Página Inicial<span class="sr-only">(current)</span></a>
            </li>
          </ul>

          <div class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" id="search" name="search" type="text" placeholder="Buscar" aria-label="Search">
            <a id="btn-search" style="cursor: pointer" name="btn-search" data-toggle="modal" data-target="#buscarModal" class="btn btn-outline-success my-2 my-sm-0">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
      </nav>
    </header>
  <p></p>
  <div class="container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Número de Controle</th>
          <th>Nome do Animal</th>
          <th>Proprietário</th>
          <th>Telefone</th>
          <th>Teste Rápido</th>
          <th>Teste GAL</th>
          <th>Editar</th>
          <th>Apagar</th>
        </tr>
      </thead>
      <tbody>
        {% for dog in dogs %}
        <tr>
          <th>{{dog.num_controle}}</th>
          <th>{{dog.nome_animal}}</th>
          <th>{{dog.nome_proprietario}}</th>
          <th>{{dog.telefone}}</th>
          <th>{{dog.teste_rapido}}</th>
          <th>{{dog.resultado_teste_gal}}</th>
          <th>
            <a style="color: #fff" href="/app/crud/edita_animal/{{dog.id}}">
              <i class="fas fa-edit"></i>
            </a>
          </th>
          <th>
            <a style="color: #fff" href="/app/crud/apaga_animal/{{dog.id}}" id="apagar" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-trash"></i>
            </a>
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('a[data-toggle]').click(function(ev){
        var href= $(this).attr('href');
        console.log(href);

        $('body').append('<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Confirmar</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body" class="message-delete">Tem certeza que deseja apagar este animal.</div><div class="modal-footer"><button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button><a id="confirmar_apagar" style="cursor: pointer" class="btn btn-danger text-white">Apagar</a></div></div></div></div>');

        $('#exampleModal').on('shown.bs.modal', function () {
          $('#myInput').trigger('focus')
        })

        $('#confirmar_apagar').attr('href', href);
      })
    })
  </script>

  <script>
    $(document).ready(function() {
      $('a[name=btn-search]').click(function(ev){
        let search = document.getElementById("search");

        let href = `/app/crud/busca_pendentes/${search.value}`

        $('body').append('<div class="modal fade" id="buscarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Confirmar</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-footer"><button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button><a id="confirmar_buscar" style="cursor: pointer" class="btn btn-success text-white">Buscar</a></div></div></div></div>');

        $('#exampleModal').on('shown.bs.modal', function () {
          $('#myInput').trigger('focus')
        })
        $('#confirmar_buscar').attr('href', href);
      })
    })
  </script>
</body>
</html>
