{% extends "_layouts/auth.njk" %}

{% block body %}
  <form method="post" class="box" action="/signup">
    <h1>Cadastrar</h1>
    {% include "_partials/flash.njk" %}

    <input type="text" name="name" placeholder="Nome"/>
    <input type="text" name="nickname" placeholder="Nickname">
    <input type="password" name="password" placeholder="Senha">

    <input type="submit" value="Cadastrar">

    <button id="tenho_conta"><a href="/">Já Possuo Conta</a></button>
  </form>
{% endblock %}
