{% extends "_layouts/auth.njk" %}

{% block body %}
  <form method="post" class="box" action="/signin">

    {% include "_partials/flash.njk" %}

    <h1>Login</h1>

    <input type="text" name="nickname" placeholder="Nickname">
    <input type="password" name="password" placeholder="Senha">

    <input type="submit" value="Entrar">

    <button id="criar_conta"><a href="/signup">Criar Conta</a></button>
  </form>

{% endblock %}
