<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Controle de Leishmaniose</title>
  <link rel="stylesheet" href="/relatorios.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background: #34495e;">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/app/dashboard">Página Inicial<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <p></p>
  <div class="container">
    <h2>Relatórios de Cadastros</h2>
    <div class="relorios">
      <div class="relatorio">
        <a href="tabela_relatorios_mes">Amostras (Por mês/ano)</a>
      </div>
      <div class="relatorio">
        <a href="total_por_bairro">Amostras (Por bairro)</a>
      </div>
      <div class="relatorio">
        <a href="positivo_teste_rapido">Amostras (Positivo Teste Rápido)</a>
      </div>
      <div class="relatorio">
        <a href="negativo_teste_rapido">Amostras (Negativo Teste Rápido)</a>
      </div>
      <div class="relatorio">
        <a href="indeterminado_teste_rapido">Amostras (Indeterminado Teste Rápido)</a>
      </div>
      <div class="relatorio">
        <a href="positivo_elisa">Amostras (Positivo no Elisa)</a>
      </div>
      <div class="relatorio">
        <a href="negativo_elisa">Amostras (Negativo no Elisa)</a>
      </div>
      <div class="relatorio">
        <a href="indeterminado_elisa">Amostras (Indeterminado no Elisa)</a>
      </div>
      <div class="relatorio">
        <a href="recusa_coleta_elisa">Amostras (Recusa de Coleta)</a>
      </div>
      <div class="relatorio">
        <a href="eutanasia">Amostras (Total de Eutanásia)</a>
      </div>
      <div class="relatorio">
        <a href="em_tratamento">Amostras (Total em Tratamento)</a>
      </div>
      <div class="relatorio">
        <a href="recusa_de_ambos">Amostras (Total de Recusa de Ambos)</a>
      </div>
      <div class="relatorio">
        <a href="morreu_fugiu">Amostras (Total de Mortes/Fugiu)</a>
      </div>
    </div>
  </div>
</body>
</html>
