<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/buscar.css">
  <title>Controle de Leishmaniose</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
  <div class="search-box">
    <form method="post" action="buscar">
      <input type="text" name="" class="search-txt" placeholder="Digite o número de Controle">
      <button class="search-btn" type="input"><i class="fas fa-search"></i></button>
    </form>
  </div>
</body>
</html>
