{% extends "_layouts/auth.njk" %}

{% block body %}
  <div class="box">

    {% include "_partials/flash.njk" %}
    <button id="cadastro"><a href="./cadastro">Cadastrar Animal</a></button>
    <button id="atualiza"><a href="./atualizar_cadastro">Atualizar Cadastro</a></button>
    <button id="relatorio"><a href="#">Relatório</a></button>
    <button id="sair"><a href="/app/logout">Sair</a></button>
  </div>

{% endblock %}
