{% extends "_layouts/auth.njk" %}

{% block body %}
  <div class="box">

    {% include "_partials/flash.njk" %}
    <button id="cadastro"><a href="./crud/cadastra_animal">Cadastrar Animal</a></button>
    <button id="atualiza"><a href="./crud/busca_pendentes">Atualizar Cadastro</a></button>
    <button id="relatorio"><a href="#">Relatório</a></button>
    <button id="sair"><a href="/app/logout">Sair</a></button>
  </div>

{% endblock %}
